@mixin border-radius($p) {
    border-radius: $p;
    -moz-border-radius: $p;
    -webkit-border-radius: $p;
}

@mixin box-shadow($v) {
    box-shadow: $v;
    -moz-box-shadow: $v;
    -webkit-box-shadow: $v;
}

@mixin box-sizing($b) {
    box-sizing: $b;
    -moz-box-sizing: $b;
    -webkit-box-sizing: $b;
}

@mixin btn($bg_color, $bg_color_hover, $padding) {
    background-color: $bg_color;
    color: $white;
    font-weight: 100;
    padding: $padding;
    transition: background-color 0.5s ease;
    &:hover {
        background-color: $bg_color_hover;
    }
}

@mixin btn-large($bg_color, $bg_color_hover, $padding) {
    background-color: $bg_color;
    color: $green_dark;
    padding: $padding;
    transition: background-color 0.5s ease;
    &:hover {
        background-color: $bg_color_hover;
    }
}

@mixin placeholder-color($c) {
    ::-webkit-input-placeholder {color: $c;}
    :-moz-placeholder {color: $c;}
    ::-moz-placeholder {color: $c;}
    :-ms-input-placeholder {color: $c;}
}

@mixin transition($t) {
    transition: $t;
    -moz-transition: $t;
    -webkit-transition: $t;
    -o-transition: $t;
    -ms-transition: $t;
}

@mixin transform($r) {
    transform: $r;
    -ms-transform: $r;
    -moz-transform: $r;
    -webkit-transform: $r;
}

@mixin inner-shadow($color) {
    -moz-box-shadow:    inset 0 0 10px $color;
    -webkit-box-shadow: inset 0 0 10px $color;
    box-shadow:         inset 0 0 10px $color;
}

@mixin animation-underline-center() {
    display: inline-block;
    padding-bottom: 4px;
    position: relative;

    &::after {
        background-color: $green_light;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: .5s all;
        width: 0;
    }

    &:hover {
        &:after {
          width: 100%;
        }
    }
}

@mixin animation-underline-left() {
    color: $footer_grey;
    display: inline-block;
    opacity: 0.8;
    padding-bottom: 3px;
    position: relative;
    transition: .5s all ease;

    &::after {
        background-color: $white;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 0;
        opacity: 0.8;
        position: absolute;
        transition: .5s all;
        width: 0;
    }

    &:hover {
        color: $white;
        &::after {
          width: 100%;
        }
    }
}

@mixin color-to-gray($percentage) {
    -webkit-filter: grayscale($percentage);
    -moz-filter: grayscale($percentage);
    -ms-filter: grayscale($percentage);
    -o-filter: grayscale($percentage);
    filter: grayscale($percentage);
}