// colors
$black:         #1f363b;
$black_nav_bar: #606060;
$blue:          #00a8b0;
$green_light:   #a2d6c4;
$green_dark:    #3c6869;
$grey:          #e3e2dd;
$red:           #f14a4a;
$white:         #fff;
$yellow:        #f1c54a;

$footer_black:  #444;
$footer_grey:   #7a7a7a;
$footer_btn_bg: #c0c0c0;
$footer_btn:    #444443;

$device_mobile:             '(max-width: 767px)';
$device_mobile_tablet:      '(max-width: 991px)';
$device_tablet:             '(min-width: 768px) and (max-width: 991px)';
$device_tablet_and_up:      '(min-width: 768px)';
$device_mobile_to_md:       '(max-width: 1199px)';
$device_desktop_md:         '(min-width: 992px) and (max-width: 1199px)';
$device_desktop_md_and_up:  '(min-width: 992px)';
$device_desktop_lg:         '(min-width: 1200px)';